body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  height: 100vh;
  width: 100vw;
  background-image: url(./components/pictures/297327124.jpg);
}

.Dagens {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  width: 100vw;
  font-size: 25px;
  background-color: black;
  color: white;
  flex-direction: row;
}
p {
  margin: 10px;
}

h2 {
  display: flex;
  justify-content: center;
  color: white;
}
.people {
  display: flex;
  flex-direction: column-reverse;
}
